<!-- home.html -->
<div class="jumbotron text-center">
    <h1>Home Page</h1>

    <p>{{ message }}</p>
</div>

<div class="container">
    <div class="card">
        <div class="card-body">
        <h2 class="card-title">Todo list for this app</h2>
        <div ng-controller="TodoListController as todoList">
          <span class="card-subtitle text-muted mb-2">{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
          [ <a href="" ng-click="todoList.archive()">archive</a> ]
          <ul class="unstyled">
            <li ng-repeat="todo in todoList.todos">
              <label class="checkbox">
                <input type="checkbox" ng-model="todo.done">
                <span class="done-{{todo.done}}">{{todo.text}}</span>
              </label>
            </li>
          </ul>
          <form class="form-inline" ng-submit="todoList.addTodo()">
            <input class="form-control mb-2 mr-sm-2 mb-sm-0" type="text" ng-model="todoList.todoText"  size="30"
                   placeholder="add new todo here">
            <input class="btn btn-primary" type="submit" value="add">
          </form>
        </div>
        </div>
    </div>
</div>